# WEB SCRAPING – ASSIGNMENT 2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [3]:
# Connecting to the webdriver
driver=webdriver.Chrome(r"C:\web driver\chromedriver.exe")
time.sleep(2)

In [4]:
#Getting the webpage of mentioned url
driver.get('https://www.naukri.com/')

In [5]:
# Entering “Data Analyst” in “Skill,Designations,Companies” field 
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Analyst")

In [6]:
# Searching the web element for job location by using Xpath
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys("Bangalore")

In [7]:
# Clicking on Search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [8]:
#Empty List
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [9]:
# Extracting the data for the first 10 jobs results
# Scraping data for job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="5371814d-3048-4cab-b762-fa6fd652ecbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="17894ec5-a7a6-42b5-817e-6bb7d0536c33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="2144e9b9-4655-4686-ac92-b676de8f7ec5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="c9e0820f-4c71-4453-aa48-774c8e2094a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="12dc7247-2692-4e1d-9130-7e02e8b15490")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="3bbebd64-724d-41af-8ccc-124fb36d0cde")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="4f9580ae-5c76-49b8-ad65-589ead67d3c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="152c7904-b6bd-4689-bd41-8843db58a7e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="a3dbe0e3-bf41-4ad3-aba8-322a802a09fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="cae25171-12dd-47b6-a5b2-68a915f8c28d")>]

In [10]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[:10]

['Senior Data Analyst',
 'Data Analyst- customer facing',
 'Sr Data Analyst II',
 'Data Analyst',
 'Hiring For Data Analyst with SAP ABAP & BW - C2H Wipro',
 'Senior Business Analyst - Data Sciences and Advanced Analytics',
 'Business and Data Analyst',
 'Senior Data Analyst | Lululemon',
 'Urgent hiring For Senior Data Analyst',
 'Senior Data Analyst']

In [11]:
# Scraping data for Company Name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="556ce84a-c757-4a7c-8172-70bf1d1df86d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="6f0ed2b2-db06-4d4d-8b63-8c08e6f075b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="a0b6d61b-5c7a-4b74-abe0-f28392e55093")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="cb256d52-9ce7-4421-9d6b-d1a60680e9c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="58670465-5f5a-48cb-bb5c-34ba5cfdacf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="78133fdd-9e73-42d8-84dd-cfbcf05d522e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="d00207c2-1e6a-4cc3-a99c-1247603c0f7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="e07dd655-c693-4952-be8e-35e47404627f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="0daf5204-5353-4393-9eb8-362d9e7a8066")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="338a7068-34b6-4c9a-989d-a9faf27d93db")>]

In [12]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[:10]

['Thomson Reuters',
 'Synamedia',
 'IHS Markit',
 'VOLVO ASSET FINANCE INDIA PRIVATE LIMITED',
 'MILLION MINDS INFOTECH PRIVATE LIMITED',
 'Vmware',
 'CAREERDOST ENTERPRISE',
 'TALENT500 TECH (INDIA) PRIVATE LIMITED',
 'upGrad',
 'Capco']

In [13]:
# Scraping data for Experience Required 
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="634bbd9d-f79d-4b71-92f1-1642b83482bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="77b3c6be-78bd-49ea-b728-37003e60baef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="f386012f-e10d-45ba-9aa5-6e3d37587135")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="58fa485c-86f6-400f-b3e6-1188b12d74dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="f33ea5af-2bbf-4cfd-b663-790dccf52485")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="36ba4d07-6caf-434a-91ce-957ac77bbed7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="f0f07633-39b1-4ef7-b797-607aa73fddb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="c1c6fafe-acfe-45fc-b734-c52e7fd29c7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="60707196-a5d8-4320-b4e6-758488b11ac8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="c3a13bdc-91aa-4847-a6ee-c365bd621af8")>]

In [14]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
experience_list[:10]

['2-4 Yrs',
 '0-3 Yrs',
 '3-6 Yrs',
 '2-4 Yrs',
 '7-10 Yrs',
 '3-7 Yrs',
 '0-5 Yrs',
 '5-8 Yrs',
 '2-7 Yrs',
 '7-12 Yrs']

In [15]:
# Scraping data for job location 
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="60525b0e-274a-4a21-92b0-c53070e412da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="902e56a2-a79c-4751-ae9c-d086d881645f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="a7d92175-2e1b-4294-a869-21665c1f92da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="fd6320cc-25b6-4624-a468-0c8153bd99ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="ec63b49a-f527-4647-9607-3f98371c27a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="d6a905c8-a19d-4c0c-b485-2ba843173019")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="eb2ec922-1f1c-4eaa-8eed-a353a1542ac2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="9c19436b-4888-43b7-87ee-4001e02f39c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="489cc836-6740-43f6-bf9c-78147359e4c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8d705314eb923d010174e384efc997e6", element="203aa49e-da58-4068-9bf7-5675b1a537d9")>]

In [16]:
for i in locations_tags:
    location=i.text
    location_list.append(location)
location_list[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru']

In [17]:
# Checking length of the collected data
print(len(job_titles),len(company_names),len(location_list),len(experience_list))

20 20 20 20

In [19]:
# Creating the DataFrame for the scraped data for first 10 results
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['experience_required']=experience_list[:10]
jobs['location']=location_list[:10]
jobs

,title,company,experience_required,location
0,Senior Data Analyst,Thomson Reuters,2-4 Yrs,Bangalore/Bengaluru
1,Data Analyst- customer facing,Synamedia,0-3 Yrs,Bangalore/Bengaluru
2,Sr Data Analyst II,IHS Markit,3-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
3,Data Analyst,VOLVO ASSET FINANCE INDIA PRIVATE LIMITED,2-4 Yrs,Bangalore/Bengaluru
4,Hiring For Data Analyst with SAP ABAP & BW - C...,MILLION MINDS INFOTECH PRIVATE LIMITED,7-10 Yrs,Bangalore/Bengaluru
5,Senior Business Analyst - Data Sciences and Ad...,Vmware,3-7 Yrs,Bangalore/Bengaluru
6,Business and Data Analyst,CAREERDOST ENTERPRISE,0-5 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst | Lululemon,TALENT500 TECH (INDIA) PRIVATE LIMITED,5-8 Yrs,Bangalore/Bengaluru
8,Urgent hiring For Senior Data Analyst,upGrad,2-7 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst,Capco,7-12 Yrs,"Pune, Gurgaon/Gurugram, Chennai, Bangalore/Ben..."

In [ ]:
driver.close()  # to close the webdriver

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

In [1]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [2]:
# Connecting to the webdriver
driver=webdriver.Chrome(r"C:\web driver\chromedriver.exe")
time.sleep(2)

In [3]:
#Getting the webpage of mentioned url
driver.get('https://www.naukri.com/')

In [4]:
# Entering “Data Scientist” in “Skill,Designations,Companies” field 
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [5]:
# Searching the web element for job location by using Xpath
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys("Bangalore")

In [7]:
# Clicking on Search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [8]:
#Empty List
job_titles=[]
company_names=[]
location_list=[]

In [9]:
# Extracting the data for the first 10 jobs results
# Scraping data for job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="a7523454-9505-40f8-aa45-4d51a83179be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="de88eca5-24a7-49b4-8137-4c8e331e9cb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="0381808d-48c0-4b9b-be29-b881bf71953e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="86fb4fdb-1184-4ff4-a102-6f365a9a5c6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="79b26f30-75d9-4e28-84d9-234dafa10443")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="af8e0dbc-7055-423c-9ae9-fd426fa7ce01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="c537e2ca-eb87-4861-a9b4-160ac2e51273")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="8728b041-de30-4164-bbbd-11d3c01ab9ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="81ca6015-d56d-41eb-aa2e-fad01fd09fe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="a2eb193e-ecbc-4cbc-b8e1-03f129db92f2")>]

In [10]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
job_titles[:10]

['Senior Data Scientist Grade12',
 'Senior Data Scientist Grade12',
 'Senior Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence',
 'Data Scientist: Artificial Intelligence']

In [11]:
# Scraping data for Company Name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="8daecf35-034d-4fb3-a8ae-8d6a839c43d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="40fd32a1-84c8-4921-95f1-cafb7abc1496")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="db555518-9674-4106-9d76-f2f398f49636")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="c7527cf4-ce14-4574-b35c-6eb01376d339")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="8cd08a6f-fb37-4984-bf90-663fc0c0ca23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="8634ce49-3c82-4281-858a-152b38ba731a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="4ecf84ac-3cb0-45f1-a125-18e8e935144c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="2543ed9e-2253-4d71-93d1-8b3525af0d07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="3e89a9a6-a690-41cf-a1b5-c718dd3481f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="f1d067c3-96dc-408a-8914-4e396d7edd6f")>]

In [12]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[:10]

['Flipkart',
 'Flipkart',
 'Fractal Analytics',
 'IBM',
 'Genpact',
 'VISA',
 'IBM',
 'IBM',
 'IBM',
 'IBM']

In [13]:
# Scraping data for job location 
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="5ae2d3f9-2674-4301-9f2f-3148ee15310a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="8ae35c0e-a2fb-4efb-9461-12ec8bcdd67f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="3e164951-fdb7-41bc-b917-e48eec6a624e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="0a2e2296-db0c-44f1-9501-9f30640cce45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="659114a5-fe43-4a04-bbb7-9fb51e8079fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="5d999427-4ceb-4f20-801d-2737c0ef9b90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="5d412673-82ce-498a-ade3-ae148f22e342")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="fe79aa63-4021-46c8-abfa-8448e49c1449")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="c5d16887-40d7-4074-bb1f-b074270d01d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="915855971d3b272db9bbda8af11e07b9", element="3f57e7d0-001d-4a07-a35a-1d2b38ceb4c0")>]

In [14]:
for i in locations_tags:
    location=i.text
    location_list.append(location)
location_list[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore']

In [16]:
# Checking length of the collected data
print(len(job_titles),len(company_names),len(location_list))

20 20 20

In [18]:
# Creating the DataFrame for the scraped data for first 10 results
jobs=pd.DataFrame({})
jobs['title']=job_titles[:10]
jobs['company']=company_names[:10]
jobs['location']=location_list[:10]
jobs

,title,company,location
0,Senior Data Scientist Grade12,Flipkart,Bangalore/Bengaluru
1,Senior Data Scientist Grade12,Flipkart,Bangalore/Bengaluru
2,Senior Data Scientist,Fractal Analytics,Bangalore/Bengaluru
3,Data Scientist: Advanced Analytics,IBM,Bengaluru/Bangalore
4,Data Scientist,Genpact,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
5,Data Scientist,VISA,Bangalore/Bengaluru
6,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
7,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore
8,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore
9,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore

In [19]:
driver.close()

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [42]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [27]:
# Connecting to the webdriver
driver=webdriver.Chrome(r"C:\web driver\chromedriver.exe")
time.sleep(2)

In [44]:
#Getting the webpage of mentioned url
driver.get('https://www.naukri.com/')

In [45]:
# Entering “Data Scientist” in “Skill,Designations,Companies” field 
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [46]:
# Clicking on Search button
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [47]:
#clicking on location filter by using xpath
location_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span[1]')
location_filter.click()

In [48]:
#clicking on salary filter by using xpath
salary_filter = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
salary_filter.click()

In [49]:
#Empty List Creation
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [50]:
# Extracting the data for the first 10 jobs results
# Scraping data for job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[:10]
for i in titles_tags:
    title=i.text
    job_titles.append(title)
    if len(job_titles)==10:
        break
job_titles

['Data Scientist',
 'Junior Data Scientist',
 'Associate Data Scientist',
 'Associate Scientist - Data Engineering',
 'Data Scientist || Software Company || Immediate Joiners To max 30 Days',
 'Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Hiring For Data Analyst and Data Scientist For Gurgaon Location',
 'Data Scientist (freelance)',
 'Data Scientists',
 'Data Scientist']

In [51]:
# Scraping data for company name
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[:10]
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
    if len(company_names)==10:
        break
company_names

['Ashkom Media India Private Limited',
 'EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED',
 'Optum',
 'AXA Technology Services India Pvt. Ltd',
 'Skyleaf Consultants',
 'Creative Hands HR Consultancy',
 'Shadow Placements',
 '2Coms',
 'Nibha Infotech Private Limited',
 'BlackBuck']

In [52]:
# Scraping data for job location 
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations_tags[:10]
for i in locations_tags:
    location=i.text
    location_list.append(location)
    if len(location_list)==10:
        break
location_list

['Noida, Bangalore/Bengaluru',
 'Noida',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Delhi / NCR, Vadodara, Mumbai (All Areas)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'New Delhi, Delhi',
 'Gurgaon/Gurugram',
 'Gurgaon, Bengaluru']

In [53]:
# Scraping data for experinece
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[:10]
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
    if len(experience_list)==10:
        break
experience_list

['3-6 Yrs',
 '1-2 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '0-4 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '5-8 Yrs',
 '3-7 Yrs']

In [54]:
print(len(job_titles),len(company_names),len(location_list),len(experience_list))

10 10 10 10

In [55]:
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['location']=location_list
jobs['experience']=experience_list
jobs

,title,company,location,experience
0,Data Scientist,Ashkom Media India Private Limited,"Noida, Bangalore/Bengaluru",3-6 Yrs
1,Junior Data Scientist,EASY DATA ANALYTICS TECHNOLOGY PRIVATE LIMITED,Noida,1-2 Yrs
2,Associate Data Scientist,Optum,Gurgaon/Gurugram,1-5 Yrs
3,Associate Scientist - Data Engineering,AXA Technology Services India Pvt. Ltd,Gurgaon/Gurugram,2-5 Yrs
4,Data Scientist || Software Company || Immediat...,Skyleaf Consultants,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-8 Yrs
5,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,"Hyderabad/Secunderabad, Pune, Chennai, Delhi /...",0-4 Yrs
6,Hiring For Data Analyst and Data Scientist For...,Shadow Placements,"Noida, Gurgaon/Gurugram, Delhi / NCR",3-7 Yrs
7,Data Scientist (freelance),2Coms,"New Delhi, Delhi",2-7 Yrs
8,Data Scientists,Nibha Infotech Private Limited,Gurgaon/Gurugram,5-8 Yrs
9,Data Scientist,BlackBuck,"Gurgaon, Bengaluru",3-7 Yrs

In [56]:
driver.close()

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image

In [1]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [2]:
# Connecting to the webdriver
driver=webdriver.Chrome(r"C:\web driver\chromedriver.exe")
time.sleep(2)

In [3]:
#Getting the webpage of mentioned url
driver.get('https://www.flipkart.com/')

In [4]:
# Entering “Sunglassses” in search field 
search_glasses=driver.find_element_by_xpath("//input[@class='_3704LK']")
search_glasses.send_keys("Sunglasses")

In [5]:
# Clicking on Search button
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [6]:
glass_brand=[]
Product_description=[]
Price_product=[]
Product_discount=[]

In [7]:
brands=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brands:
    brand=i.text
    glass_brand.append(brand)
    if len(glass_brand)==40:
        break
glass_brand

['PIRASO',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'SUNBEE',
 'Elligator',
 'VINCENT CHASE',
 'Lee Topper',
 'DAHAAZIL',
 'Elligator',
 'ROZZETTA CRAFT',
 'New Specs',
 'PIRASO',
 'PIRASO',
 'john jacobs',
 'PIRASO',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'SRPM',
 'PIRASO',
 'Fastrack',
 'ROYAL SON',
 'kingsunglasses',
 'Resist',
 'SRPM',
 'SUNBEE',
 'DEIXELS',
 'PIRASO',
 'Elligator',
 'Fastrack',
 'Lee Topper',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'New Specs',
 'Rich Club']

In [8]:
products=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in products:
    product=i.text
    Product_description.append(product)
    if len(Product_description)==40:
        break
Product_description

['UV Protection Over-sized Sunglasses (64)',
 'UV Protection Cat-eye Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (50)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection, Riding Glasses, Toughened Glass Lens, Gr...',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular, Over-sized Sunglasses (Free ...',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (32)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection, Polarized Round Sunglasses (50)']

In [9]:
price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price:
    price=i.text
    Price_product.append(price)
    if len(Price_product)==40:
        break
Price_product

['₹349',
 '₹599',
 '₹669',
 '₹589',
 '₹199',
 '₹233',
 '₹245',
 '₹599',
 '₹249',
 '₹169',
 '₹174',
 '₹399',
 '₹215',
 '₹175',
 '₹174',
 '₹2,200',
 '₹174',
 '₹329',
 '₹230',
 '₹200',
 '₹145',
 '₹424',
 '₹199',
 '₹349',
 '₹589',
 '₹349',
 '₹159',
 '₹850',
 '₹171',
 '₹209',
 '₹199',
 '₹275',
 '₹283',
 '₹759',
 '₹169',
 '₹149',
 '₹299',
 '₹989',
 '₹249',
 '₹305']

In [10]:
discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for i in discount:
    discount=i.text
    Product_discount.append(discount)
    if len(Product_discount)==40:
        break
Product_discount

['86% off',
 '70% off',
 '25% off',
 '26% off',
 '87% off',
 '82% off',
 '90% off',
 '70% off',
 '90% off',
 '83% off',
 '86% off',
 '80% off',
 '89% off',
 '89% off',
 '89% off',
 '56% off',
 '89% off',
 '83% off',
 '91% off',
 '87% off',
 '91% off',
 '78% off',
 '84% off',
 '86% off',
 '26% off',
 '76% off',
 '86% off',
 '57% off',
 '82% off',
 '83% off',
 '83% off',
 '90% off',
 '85% off',
 '15% off',
 '83% off',
 '90% off',
 '88% off',
 '23% off',
 '82% off',
 '69% off']

In [11]:
print(len(glass_brand),len(Product_description),len(Price_product),len(Product_discount))

40 40 40 40

In [12]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
next_button.click()
time.sleep(5)

In [13]:
glass_brand1=[]
brand1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand1:
    brand1=i.text
    glass_brand1.append(brand1)
glass_brand1

['Fastrack',
 'Mi',
 'ROZZETTA CRAFT',
 'NuVew',
 'Fastrack',
 'Poloport',
 'HIPPON',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Mi',
 'Fastrack',
 'PIRASO',
 'kingsunglasses',
 'hipe',
 'maxa',
 'PIRASO',
 'Lee Topper',
 'Fastrack',
 'AISLIN',
 'VINCENT CHASE',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'AISLIN',
 'PIRASO',
 'New Specs',
 'Fastrack',
 'VINCENT CHASE',
 'PIRASO',
 'Rich Club',
 'Silver Kartz',
 'AISLIN',
 'ROYAL SON',
 'kingsunglasses',
 'kingsunglasses',
 'PIRASO',
 'Fastrack',
 'elegante',
 'Fastrack',
 'VINCENT CHASE']

In [14]:
Product_description1=[]
products1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in products1:
    product1=i.text
    Product_description1.append(product1)
Product_description1

['UV Protection Aviator Sunglasses (58)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square, Wayfarer Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'Polarized Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Wayfarer, Ov...',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Wayfarer, Rectangul...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Aviator Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports, Wrap-ar...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)']

In [15]:
Price_product1=[]
price1=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price1:
    price1=i.text
    Price_product1.append(price1)
Price_product1

['₹939',
 '₹959',
 '₹449',
 '₹225',
 '₹525',
 '₹229',
 '₹121',
 '₹349',
 '₹299',
 '₹799',
 '₹589',
 '₹360',
 '₹166',
 '₹127',
 '₹139',
 '₹299',
 '₹226',
 '₹589',
 '₹725',
 '₹804',
 '₹448',
 '₹589',
 '₹589',
 '₹448',
 '₹299',
 '₹214',
 '₹749',
 '₹849',
 '₹360',
 '₹210',
 '₹238',
 '₹448',
 '₹449',
 '₹279',
 '₹139',
 '₹299',
 '₹669',
 '₹449',
 '₹669',
 '₹599']

In [16]:
Product_discount1=[]
discount1=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for i in discount1:
    discount1=i.text
    Product_discount1.append(discount1)
Product_discount1

['27% off',
 '20% off',
 '79% off',
 '78% off',
 '34% off',
 '88% off',
 '87% off',
 '86% off',
 '85% off',
 '20% off',
 '26% off',
 '86% off',
 '84% off',
 '90% off',
 '80% off',
 '88% off',
 '90% off',
 '26% off',
 '80% off',
 '59% off',
 '73% off',
 '26% off',
 '26% off',
 '79% off',
 '81% off',
 '83% off',
 '25% off',
 '57% off',
 '86% off',
 '73% off',
 '84% off',
 '70% off',
 '70% off',
 '82% off',
 '89% off',
 '88% off',
 '25% off',
 '80% off',
 '25% off',
 '70% off']

In [17]:
# Checking length of the collected data
print(len(glass_brand1),len(Product_description1),len(Price_product1),len(Product_discount1))

40 40 40 40

In [19]:
#moving to next page
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
next_button.click()
time.sleep(5)

In [20]:
#Srcapping data of 2nd page
#Scrapping Brand Name
glass_brand2=[]
brand2=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand2:
    brand2=i.text
    glass_brand2.append(brand2)
glass_brand2

['hipe',
 'Singco India',
 'SHAAH COLLECTIONS',
 'VINCENT CHASE',
 'PHENOMENAL',
 'PIRASO',
 'Urbanic',
 'VINCENT CHASE',
 'PHENOMENAL',
 'Fastrack',
 'NuVew',
 'john jacobs',
 'hipe',
 'Elligator',
 'ROZZETTA CRAFT',
 'Resist',
 'Fastrack',
 'PHENOMENAL',
 'New Specs',
 'PIRASO',
 'kingsunglasses',
 'Elligator',
 'elegante',
 'Rich Club',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'PIRASO',
 'ROYAL SON',
 'agera',
 'PHENOMENAL',
 'NuVew',
 'kingsunglasses',
 'PIRASO',
 'Singco India',
 'PIRASO',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'AISLIN',
 'AISLIN']

In [21]:
#Scrapping data for product description of 2nd page
Product_description2=[]
products2=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in products2:
    product2=i.text
    Product_description2.append(product2)
Product_description2

['Mirrored Wayfarer Sunglasses (55)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Cat-eye Sunglasses (54)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection Aviator Sunglasses (54)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Night Vision, Riding Glasses, Gradient, ...',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Toughened Glass Lens, Gr...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection, Mirrored Sports Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'Polarized, Riding Glasses, Night Vision Sports, Wrap-ar...',
 'UV Protection, Polarized Round Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Butterfly Sunglasses (60)',
 'Mirrored Aviator Sunglasses (55)',
 'Gradient Aviator Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (53)',
 'UV Protection Retro Square, Wayfarer Sunglasses (58)',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (56)',
 'Riding Glasses, UV Protection, Others Aviator Sunglasse...',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...']

In [29]:
Price_product2=[]
price2=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price2:
    price2=i.text
    Price_product2.append(price2)
Price_product2

[]

In [24]:
#Scrapping data for discount of 2nd page
Product_discount2=[]
discount2=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
for i in discount2:
    discount2=i.text
    Product_discount2.append(discount2)
Product_discount2

['81% off',
 '80% off',
 '83% off',
 '70% off',
 '84% off',
 '89% off',
 '52% off',
 '70% off',
 '84% off',
 '33% off',
 '76% off',
 '56% off',
 '90% off',
 '84% off',
 '83% off',
 '57% off',
 '21% off',
 '84% off',
 '89% off',
 '87% off',
 '89% off',
 '79% off',
 '80% off',
 '69% off',
 '72% off',
 '57% off',
 '49% off',
 '86% off',
 '76% off',
 '84% off',
 '73% off',
 '78% off',
 '83% off',
 '88% off',
 '86% off',
 '86% off',
 '84% off',
 '83% off',
 '70% off',
 '79% off']

In [25]:
#Combining data of all 3 pages
Brand_Name=glass_brand+glass_brand1+glass_brand2
Product_Description=Product_description+Product_description1+Product_description2
Price=Price_product+Price_product1+Price_product2
Discount=Product_discount+Product_discount1+Product_discount2

In [26]:
#
Flipkart=pd.DataFrame({})
Flipkart['Brand_Name']=Brand_Name[0:100]
Flipkart['Product_Description']=Product_Description[0:100]
Flipkart['Price']=Price[0:100]
Flipkart['Discount_Offered']=Discount[0:100]
Flipkart

,Brand_Name,Product_Description,Price,Discount_Offered
0,PIRASO,UV Protection Over-sized Sunglasses (64),₹349,86% off
1,VINCENT CHASE,UV Protection Cat-eye Sunglasses (54),₹599,70% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹669,25% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹589,26% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹199,87% off
...,...,...,...,...
95,Resist,"UV Protection, Riding Glasses, Toughened Glass...",₹850,57% off
96,Fastrack,UV Protection Sports Sunglasses (Free Size),₹709,21% off
97,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹303,84% off
98,New Specs,"UV Protection, Mirrored Sports Sunglasses (Fre...",₹135,89% off
99,PIRASO,UV Protection Aviator Sunglasses (54),₹199,87% off

In [ ]:
driver.close()

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace

In [450]:
# Importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [451]:
driver=webdriver.Chrome(r"C:\web driver\chromedriver.exe")
time.sleep(2)

In [453]:
#Getting the webpage of mentioned url
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace.')

In [454]:
ratings=[]
rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating:
    rating=i.text
    ratings.append(rating)
ratings[0:10]
review_summary=[]
summary=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary:
    summary=i.text
    review_summary.append(summary)
review_summary[0:10]
full_review=[]
review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review:
    review=i.text
    full_review.append(review)
full_review[0:10]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !']

In [455]:
print(len(ratings),len(review_summary),len(full_review))

10 10 10

In [456]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
next_button.click()
time.sleep(5)

In [457]:
ratings1=[]
rating1=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating1:
    rating1=i.text
    ratings1.append(rating1)
ratings1[0:10]
review_summary1=[]
summary1=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary1:
    summary1=i.text
    review_summary1.append(summary1)
review_summary1[0:10]
full_review1=[]
review1=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review1:
    review1=i.text
    full_review1.append(review1)
full_review1[0:10]

['It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.\n\nLucky to get it in sale, thank you Flipkart.',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t...\nREAD MORE',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'Really worth of money. i just love it. It is the best phone ever.',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE']

In [458]:
print(len(ratings1),len(review_summary1),len(full_review1))

10 10 10

In [459]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()
time.sleep(5)

In [460]:
ratings2=[]
rating2=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating2:
    rating2=i.text
    ratings2.append(rating2)
ratings2[0:10]
review_summary2=[]
summary2=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary2:
    summary2=i.text
    review_summary2.append(summary2)
review_summary2[0:10]
full_review2=[]
review2=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review2:
    review2=i.text
    full_review2.append(review2)
full_review2[0:10]

['This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'It is just awesome mobile for this price from Apple,\n\nAfter 10 days review\n\nBattery enough for 1 day even 24*7 Internet will be on and mostly internet usage\n\nCamera is just awesome cool , android 64 MP is equal to this just 12 MP\n\nA13 Bionic chip will give more high performance without hanging\n\nAudio stereo speakers will give Dolby atoms sound with crystal clear\n\nVideo recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone\niPhone 11 loved one',
 'I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:-\n1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you won’t miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly.\n2) iPhone 11 series have really good cameras... others have spoken in depth about them.\n3) bat...\nREAD MORE',
 'Superb Product !!!\nA big and worthy upgrade from mi 3S to iphone 11 .\nTotally loved it !',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'It’s an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage\n\nThis review I have written from iPhone 11 only and I am glad to say outside.\n\nCons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8.\nNo assistive touch control button in it\nNo oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr...\nREAD MORE',
 "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone💕.",
 'awesome phone to have. it has got many smart features apart from mind blowing looks, camera, display, battery and sound. have fallen in love with this phone. must buy phone if you have got enough money. thanks to flipkart and apple of course..',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple...\nREAD MORE',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use']

In [461]:
print(len(ratings2),len(review_summary2),len(full_review2))

10 10 10

In [462]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()
time.sleep(5)

In [463]:
ratings3=[]
rating3=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating3:
    rating3=i.text
    ratings3.append(rating3)
ratings3[0:10]
review_summary3=[]
summary3=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary3:
    summary3=i.text
    review_summary3.append(summary3)
review_summary3[0:10]
full_review3=[]
review3=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review3:
    review3=i.text
    full_review3.append(review3)
full_review3[0:10]

["It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'The built quality is not very premium.\nThe battery back is great .\nThe LCD panel is not so sharp but the brightness level is very High .\nCamera is super duper awesome.\nThe red colour which people think is bright is actually very soothing and excellent colour to choose from .\nThe A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram .\nCamera module is very great and looks very stylish.',
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...\nREAD MORE',
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11',
 'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare...\nREAD MORE',
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.\n\nBought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!\n\nThe phone is great and does excellent RAM management like any other Apple device.\n\nThe screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re...\nREAD MORE']

In [464]:
print(len(ratings3),len(review_summary3),len(full_review3))

10 10 10

In [465]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()
time.sleep(5)

In [466]:
ratings4=[]
rating4=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating4:
    rating4=i.text
    ratings4.append(rating4)
ratings4[0:10]
review_summary4=[]
summary4=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary4:
    summary4=i.text
    review_summary4.append(summary4)
review_summary4[0:10]
full_review4=[]
review4=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review4:
    review4=i.text
    full_review4.append(review4)
full_review3[0:10]

["It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series.\nCamera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models.\nI will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.\n\nOnly one thing that I dislike abo...\nREAD MORE',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'The built quality is not very premium.\nThe battery back is great .\nThe LCD panel is not so sharp but the brightness level is very High .\nCamera is super duper awesome.\nThe red colour which people think is bright is actually very soothing and excellent colour to choose from .\nThe A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram .\nCamera module is very great and looks very stylish.',
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi...\nREAD MORE',
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar...\nREAD MORE',
 'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11',
 'In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompareble battery backup, no doubts in iPhone camera here You can see the picture which is shot on my iPhone In love with this iphone great performance,camera ,battery everything. Go for it have a uncompare...\nREAD MORE',
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.\n\nBought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!\n\nThe phone is great and does excellent RAM management like any other Apple device.\n\nThe screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re...\nREAD MORE']

In [467]:
print(len(ratings4),len(review_summary4),len(full_review4))

10 10 10

In [468]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()
time.sleep(5)

In [469]:
ratings5=[]
rating5=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating5:
    rating5=i.text
    ratings5.append(rating5)
ratings5[0:10]
review_summary5=[]
summary5=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary5:
    summary5=i.text
    review_summary5.append(summary5)
review_summary5[0:10]
full_review5=[]
review5=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review5:
    review5=i.text
    full_review5.append(review5)
full_review5[0:10]

['Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 'Excellent camera 📸 And Display touching very Nice And Smooth and very improvement against\nI phone 11 and new processor is very fast',
 'Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 'I am using this phone for 5 days and its one of the best camera out there ❤️ the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would say\nBut overall value for money💕😍the battery back up is far better than my iphone xs and its worth in my apple ecosystem💫❤️if u are an apple User and have the eco system then go for it❤️though i will be getting the new iphone but its pretty good💫',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',
 "I got this beast today. And I must say the picture quality of its camera is awesome. Both the cameras works fine.\n\nAs for as the processing is concerned, it runs without any lag. You can play and do whatever you want without a glitch.\n\nThe battery runs for a day with medium and high workload.\n\nThe display is good and the speakers are working fine.\n\nThe earphones doesn't have any base and you can use it for calling mostly.\n\nThe charging time is approximately for 90 minutes for full charging...\nREAD MORE",
 'Awesome purchase. Amazing phone with good battery backup. It’s a top notch device. White colour looks amazing. Phone has a few extra feature than iPhone XR. Overall, this is value for money',
 'Always love the apple products, upgraded from old iPhone 6S plus to this after having my first baby. I just love to click baby’s photos with it. Overall I just love this phone. Battery back up is okay, sound quality is good. Haven’t tested yet waterproof yet. Only one thing I hate is apple could have given charger & headphones in box.']

In [470]:
print(len(ratings5),len(review_summary5),len(full_review5))

10 10 10

In [471]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()
time.sleep(5)

In [473]:
ratings6=[]
rating6=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating6:
    rating6=i.text
    ratings6.append(rating6)
ratings6[0:10]
review_summary6=[]
summary6=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary6:
    summary6=i.text
    review_summary6.append(summary6)
review_summary6[0:10]
full_review6=[]
review6=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review6:
    review6=i.text
    full_review6.append(review6)
full_review5[0:10]

['Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 'Excellent camera 📸 And Display touching very Nice And Smooth and very improvement against\nI phone 11 and new processor is very fast',
 'Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 'I am using this phone for 5 days and its one of the best camera out there ❤️ the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would say\nBut overall value for money💕😍the battery back up is far better than my iphone xs and its worth in my apple ecosystem💫❤️if u are an apple User and have the eco system then go for it❤️though i will be getting the new iphone but its pretty good💫',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!💯🔥',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',
 "I got this beast today. And I must say the picture quality of its camera is awesome. Both the cameras works fine.\n\nAs for as the processing is concerned, it runs without any lag. You can play and do whatever you want without a glitch.\n\nThe battery runs for a day with medium and high workload.\n\nThe display is good and the speakers are working fine.\n\nThe earphones doesn't have any base and you can use it for calling mostly.\n\nThe charging time is approximately for 90 minutes for full charging...\nREAD MORE",
 'Awesome purchase. Amazing phone with good battery backup. It’s a top notch device. White colour looks amazing. Phone has a few extra feature than iPhone XR. Overall, this is value for money',
 'Always love the apple products, upgraded from old iPhone 6S plus to this after having my first baby. I just love to click baby’s photos with it. Overall I just love this phone. Battery back up is okay, sound quality is good. Haven’t tested yet waterproof yet. Only one thing I hate is apple could have given charger & headphones in box.']

In [474]:
print(len(ratings6),len(review_summary6),len(full_review6))

10 10 10

In [475]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()
time.sleep(5)

In [477]:
ratings7=[]
rating7=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating7:
    rating7=i.text
    ratings7.append(rating7)
ratings7[0:10]
review_summary7=[]
summary7=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary7:
    summary7=i.text
    review_summary7.append(summary7)
review_summary7[0:10]
full_review7=[]
review7=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review7:
    review7=i.text
    full_review7.append(review7)
full_review7[0:10]

['I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny',
 'Great iphone.\nI am writing this review after 2 months of usage.\nCamera is excellent, especially the nightmode\nDisplay perfect\nBattery backup awesome\nSound quality very good\nOverall Apple gives you a perfect iphone in this range.\nReally in love with iPhone 11',
 'Did an upgrade from 6s plus to iphone 11.\nAo far the experience is well and good. Felt smoother than 6s plus. The camera quality is superb. Battery backup is descent. Not a heavy user, and gets power more than a day. Go for it if you need an alrounder iphone in a competitve price.',
 'Gifted my man on his 30th birthday 🎂 He loves it.. Him happy so i am more than happy 😍😘❤️🥰',
 'Here is the thing\n\nThe only reason why you should buy this phone is for the camera, iOS, and if you have headaches looking at AMOLED display.\n\nI’m not an avid gamer but watch a lot of movies on smartphone. However, my migraine attacks increased considerably after using AMOLED Smartphone. That’s why I made a calculated decision to buy iPhone 11. It has the best LCD display and the blacks, though not as natural as an AMOLED, is better than some of the other smartphones.\n\nAdding to this the ste...\nREAD MORE',
 "It was amazing experience for me. Honestly i am using iPhone first time so I don't have that much past experience about that. But after using 7 days this mobile i want to give some honest feedback.\n1- Display 9 out of 10\n2- Camera 9.5 out of 10\n3- Battery 7 out of 10\n4- Performance 9.5 out of 10\n5- Features & Functions 10 out of 10\n6- Outer looks and colour 10 out of 10\nRest i think i will understand after using this for few months.\nI will highly recommend you guys if you have budget then you...\nREAD MORE",
 'awesome Phone Smooth Touch Too good Sexyy looks one word Awesome',
 'A wort full value for money decision it’s . Simply go for it in 2021 its still a good decision . Awesome camera , Super smothered performance, Heck of build quality. And Most important it protects your privacy.',
 'Gift this to your loved ones fabulous product and amazing super fast delivery by flipkart',
 'I bought iPhone 11 On March 2021, And I am Writing this review after using the phone for 4 Months. I would Say Everything is fine, Top Performance, Nice Camera as Anyone would Expect from any series of iPhone but when the Question comes to Battery it is complicated. The Battery is fully optimised and it comes 3110 mAh capacity but the problem is with the charger. Honestly Apple Removed charger from in Box items in the name of Environment and they are also forcing us to buy any 20W PD 3rd part...\nREAD MORE']

In [478]:
print(len(ratings7),len(review_summary7),len(full_review7))

10 10 10

In [479]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()
time.sleep(5)

In [480]:
ratings8=[]
rating8=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating8:
    rating8=i.text
    ratings8.append(rating8)
ratings8[0:10]
review_summary8=[]
summary8=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary8:
    summary8=i.text
    review_summary8.append(summary8)
review_summary8[0:10]
full_review8=[]
review8=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review8:
    review8=i.text
    full_review8.append(review8)
full_review8[0:10]

["Just go for it.\nThis phone is really amazing. I ordered it for my wife and we click photos on this thing which are better than dslr. I own OnePlus 6t but it's camera sucks. iPhone is really amazing when it comes to camera. It's worth spending 50k on this. Cons- only display is lcd. While using u don't feel it but if u compare with other phone then u can see difference quite easily.\nChanging from Android to iphone is bit difficult coz most of things u don't know but I liked it. Some of the a...\nREAD MORE",
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 'This is my first ever iPhone.\nAnd I truly don’t regret switching to IOS from my Android.\n\nIt is easily an alternative to a DSLR camera.\nIf you’re obsessed with photos and videos, just don’t think twice or don’t compare to other androids(Samsung S10 lite or OnePlus 8/8T), as it’s far better from them in every field.\nComparing will only make you confused.\n\nI am getting an average Screen on Time of around 10 hours with 30 percent left. I haven’t let my device discharged below 30 % as it aff...\nREAD MORE',
 'Undoubtedly Iphone 11 is the most successful model till now and its performance is extraordinary and the security features are very impressive, display is more vibrant sound quality Camera Quality 5*****, but Iphone should add accessories too and act like scrooge.',
 'I purchased the iPhone 11 a month back. I must say Apple has impressed me yet again . I have been an Apple user for past 5 years . The phone is power packed with amazing features . What impressed me the most was the battery backup the phone offers . Battery can easily run upto 1.5 days in single charge with moderate to\nHeavy usage . If you’re looking for a value for money device , I don’t see any other phone in the price range which can match the iPhone 11 .\nOne thing I didn’t like was that ...\nREAD MORE',
 'Don’t expect much from front camera… especially who loves beauty mode and filters.. back cameras are good…video department is always plus point in iPhones… battery capacity is really surprising lasts for one day at least… performance always good and smooth… speaker’s quality is good…built quality best and haptic feedback is enjoyable…\nNote : images are good after you edit',
 'Nice value for money good and best price I phone mind blowing camera processor very fast other android mobile I am happy India top selling phone 2020',
 'Can’t beat the software and hardware integration of apple.\nPerforms like a beast. Great quality camera\n6-7 hours screen on time which is good. Nothing much to complaint about the screen. Good connectivity speeds.\nGreat buy and Flipkart’s delivery top notch as usual',
 'I use a Note10+ and have been using both iOS and Android devices.\n\nCamera has really good features and portraits are super good, better than Samsung flagship. Overall camera setup can still be enhanced and hopeful for better upgrades on software in next release\n\nOperating system is quite a breeze and user experience of daily usage is very high as compared to Android. I moved to iOS very swiftly in 2 days for all my office work from Note10+\n\nBattery holds up quite well with 4 hrs of call and ...\nREAD MORE',
 'The phone is completely good\nAs far as camera Apple is king of it\nAnd its a beast in performance\nAnd the battery is pretty good too']

In [481]:
print(len(ratings8),len(review_summary8),len(full_review8))

10 10 10

In [483]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
next_button.click()
time.sleep(5)

In [484]:
ratings9=[]
rating9=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
for i in rating9:
    rating9=i.text
    ratings9.append(rating9)
ratings9[0:10]
review_summary9=[]
summary9=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary9:
    summary9=i.text
    review_summary9.append(summary9)
review_summary9[0:10]
full_review9=[]
review9=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review9:
    review9=i.text
    full_review9.append(review9)
full_review9[0:10]

['Absolutely powerful gadget. Loved it’s look! Soo glassy and classy. I would definitely recommend this model of Apple. Only disappointed with the 5W charger, one should purchase an 18W adapter for fast charging. Though battery backup is great. Bought it in September 2020, reviewing after so long so I’m gonna put the genuine review here.✅',
 'iPhone is delivered on time. Display is great u won’t feel that it’s a hd panel. Quality is excellent. Sounds is great it has stereo setup. Camera is good. iOS 14.2 comes in the box. U roughly get 113 gb free if u buy 128 gb. This is my second iPhone and i love it. Value for money.',
 "It is better to buy iPhone 11 over iPhone 12 if you prioritize the camera,Its because the difference isn’t significantly huge except lowlight performance and Go for 128 GB variant rather than 64 GB because the system data alone contains 20 GB of data .\nEven though it's 720p LCD display but it's better than todays Android's 1080p display. My phone was a 64GB mint green model and this one is really pretty especially in the real life. I can still get almost everything out of what i paid for at a...\nREAD MORE",
 'Really very nice... my dad gifted me really I am soo happy with this phone love it 😇',
 'I got this phone for good price hence 5 star for it , and over quality is good because the price to buy iphone was worth at 41000',
 'Good product nice experience with Flipkart but I am unhappy with the packaging part because such a valuable product comes under normal cover without any additional wrapping and that too for Plus customers. Expecting good Packaging in future from Sellers.',
 "Camera is excellent just lack of telephoto mode frankly dose not needed either night mode is just 🙏🙏 12 12 12 mp (2back 1 front) camera lover just don't miss the deal\nDisplay lcd but feel like super amoled\nAt46999 with no cost EMI just a best deal",
 'Seller - SuperComNet ( my trust in you has grown deeper. Thanks for the genuine product )\nThe package came packed perfectly. The box was sealed which gave me a big relief.\n\nApple needs no introduction since its the dominant market player. I just love the way how IPhone 11 stands out so boldly. The moment I took it out from the box, I could feel the premium intensity. The body is remarkable and crafted for giving you a elite vibe.\n\nCamera is to die for. There is no other phone that can beat...\nREAD MORE',
 "i was confused between 11 and 11 pro. i was going towards 11 pro, but the screen size was not enough for me.\nAnd i saw 11 in the showroom. i didn't find much difference in screen quality.And cameras seems to be ok with me. And i saw offer's in flipkart and made the purchase.\nthe device is fabulous. The hardware and software quality is excellent. The new iOS is something you need to experience yourself. The drawback i found was absence of fast charger, but the pricing can compensate that. Am...\nREAD MORE",
 "It's a great phone. From camera to display everything is best for the price.\nBest camera , best performance. I think everyone should buy it . This phone has best battery life so far in iphone series which I had used earlier. Happy to have it. Thanks Flipkart"]

In [485]:
print(len(ratings9),len(review_summary9),len(full_review9))

10 10 10

In [486]:
Ratings=ratings+ratings1+ratings2+ratings3+ratings4+ratings5+ratings6+ratings7+ratings8+ratings9
Review_Summary=review_summary+review_summary1+review_summary2+review_summary3+review_summary4+review_summary5+review_summary6+review_summary7+review_summary8+review_summary9
Full_Review=full_review+full_review1+full_review2+full_review3+full_review4+full_review5+full_review6+full_review7+full_review8+full_review9

In [488]:
iPhone=pd.DataFrame({})
iPhone['Ratings']=Ratings[0:100]
iPhone['Review_Summary']=Review_Summary[0:100]
iPhone['Full_Review']=Full_Review[0:100]
iPhone

,Ratings,Review_Summary,Full_Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Fabulous!,Good product nice experience with Flipkart but...
96,5,Must buy!,Camera is excellent just lack of telephoto mod...
97,5,Excellent,Seller - SuperComNet ( my trust in you has gro...
98,5,Mind-blowing purchase,i was confused between 11 and 11 pro. i was go...
99,5,Super!,It's a great phone. From camera to display eve...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [24]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [25]:
driver=webdriver.Chrome(r"C:\web driver\chromedriver.exe")
time.sleep(2)

In [26]:
driver.get("https://www.flipkart.com/")

In [27]:
search_field=driver.find_element_by_class_name("_3704LK")
search_field.send_keys("sneakers")

In [28]:
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [29]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name=[]
for i in product_tag:
    title_name.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices=[]
for i in price_tags:
    prices.append(i.text)
prices
des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des=[]
for i in des_tag:
    des.append(i.text)
dis_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
discount=[]
for i in dis_tag:
    discount.append(i.text)
discount
df=pd.DataFrame({'Product Name':title_name[0:25] , 'Description' :des[0:25], 'Price' :prices[0:25],'Discount':discount[0:25]})

In [30]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span').click()

In [31]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name1=[]
for i in product_tag:
    title_name1.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices1=[]
for i in price_tags:
    prices1.append(i.text)
prices
des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des1=[]
for i in des_tag:
    des1.append(i.text)
dis_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
discount1=[]
for i in dis_tag:
    discount1.append(i.text)
discount
df1=pd.DataFrame({'Product Name':title_name1[0:25] , 'Description' :des1[0:25], 'Price' :prices1[0:25],'Discount':discount1[0:25]})

In [32]:
df2=df.append(df1, ignore_index = True)

In [33]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span').click()

In [34]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name2=[]
for i in product_tag:
    title_name2.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices2=[]
for i in price_tags:
    prices2.append(i.text)
prices
des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des2=[]
for i in des_tag:
    des2.append(i.text)
dis_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
discount2=[]
for i in dis_tag:
    discount2.append(i.text)
discount
df3=pd.DataFrame({'Product Name':title_name2[0:25] , 'Description' :des2[0:25], 'Price' :prices2[0:25],'Discount':discount2[0:25]})

In [35]:
df=df3.append(df2, ignore_index = True)

In [36]:
driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span').click()

In [38]:
product_tag=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
title_name3=[]
for i in product_tag:
    title_name3.append(i.text)
title_name
price_tags=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices3=[]
for i in price_tags:
    prices3.append(i.text)
prices
des_tag=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
des3=[]
for i in des_tag:
    des3.append(i.text)
dis_tag=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
discount3=[]
for i in dis_tag:
    discount3.append(i.text)
discount
df4=pd.DataFrame({'Product Name':title_name3[0:25] , 'Description' :des3[0:25], 'Price' :prices3[0:25],'Discount':discount3[0:25]})

In [39]:
df4.append(df, ignore_index = True)

,Product Name,Description,Price,Discount
0,PUMA,Smash Vulc Sneakers For Men,"₹1,849",51% off
1,PUMA,Mirage Tech Sneakers For Men,"₹7,949",37% off
2,SPADE CLUB,Sneakers For Men,₹624,55% off
3,Labbin,Sneakers For Men,₹449,62% off
4,DUCATI,Original Luxury Branded Fashionable Men's Casu...,"₹1,239",78% off
...,...,...,...,...
95,T-ROCK,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹249,75% off
96,Hida,STR2 Sneakers For Men,₹599,40% off
97,Hida,WATERPROOF-05cFULLWHITE Sneakers For Men,₹599,40% off
98,WHITE WALKERS,Sneakers For Men,₹549,54% off
99,Kraasa,Shark-41 Sneakers For Men,₹410,58% off

In [ ]:
driver.close()

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [108]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [109]:
driver=webdriver.Chrome(r"C:\web driver\chromedriver.exe")
time.sleep(2)

In [110]:
driver.get("https://www.myntra.com/shoes")

In [113]:
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [111]:
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

In [115]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
df=pd.DataFrame({'Product Brand':title_name[0:20] , 'Product_Description' :des[0:20], 'Original Price' :prices[0:20]})

In [116]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a').click()

In [118]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
df1=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15]})

In [119]:
df2=df.append(df1, ignore_index = True)

In [120]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[8]/a').click()

In [121]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
df3=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15]})

In [122]:
df4=df2.append(df3, ignore_index = True)

In [123]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[8]/a').click()

In [124]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
df5=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15]})

In [125]:
df6=df4.append(df5, ignore_index = True)

In [126]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[8]/a').click()

In [127]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
df7=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15]})
df7
df8=df6.append(df7, ignore_index = True)

In [128]:
driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[11]/a').click()

In [131]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
dis_price=driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
df9=pd.DataFrame({'Product Brand':title_name[0:15] , 'Product_Description' :des[0:15], 'Original Price' :prices[0:15]})
df9
df10=df8.append(df9, ignore_index = True)

In [135]:
title_tag=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
title_name=[]
for i in title_tag:
    title_name.append(i.text)
title_name
product_des=driver.find_elements_by_xpath('//h4[@class="product-product"]')
des=[]
for i in product_des:
    des.append(i.text)
des
price=driver.find_elements_by_xpath('//span[@class="product-strike"]')
prices=[]
for i in price:
    prices.append(i.text)
prices
df11=pd.DataFrame({'Product Brand':title_name[0:5] , 'Product_Description' :des[0:5], 'Original Price' :prices[0:5]})
df12=df10.append(df11, ignore_index = True)
df12

     Product Brand             Product_Description Original Price
0         Skechers      Men Max Cushioning Running       Rs. 8999
1             ALDO                    Men Sneakers      Rs. 10495
2             Nike  Men React Miler2 Running Shoes      Rs. 10999
3     UNDER ARMOUR   Men Charged Rouge 3 Run Shoes       Rs. 9499
4             Nike  Women React MR 3 Running Shoes       Rs. 9999
..             ...                             ...            ...
95  ROSSO BRUNELLO             Men Leather Loafers      Rs. 10999
96  ROSSO BRUNELLO    Men Textured Leather Loafers      Rs. 10999
97  ROSSO BRUNELLO             Men Leather Loafers       Rs. 9999
98            ECCO       Women Heeled Formal Shoes       Rs. 9999
99         Saint G              Block Heeled Boots      Rs. 11999

[100 rows x 3 columns]

In [136]:
driver.close()

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [25]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [26]:
driver=webdriver.Chrome(r"C:\web driver\chromedriver.exe")
time.sleep(2)

In [27]:
driver.get('https://www.amazon.in/')

In [28]:
s = driver.find_element_by_id('twotabsearchtextbox')
s.send_keys("Laptop,")

In [29]:
search_btn = driver.find_elements_by_xpath("//div[@class='nav-search-submit nav-sprite']/span")
search_btn[0].click()

In [31]:
driver.find_element_by_xpath("//a[@href='/s?k=Laptop%2C&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&crid=1CZMDYQKWZYBS&qid=1652702964&rnid=12598141031&sprefix=laptop%2C%2Caps%2C586&ref=sr_nr_p_n_feature_thirteen_browse-bin_14']/div").click()

In [32]:
Title=[]
Ratings=[]
Price=[]

In [34]:
t = driver.find_elements_by_xpath("//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")
t[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="cd9629f8-180a-4f47-8b1c-1861cf459091")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="55c1830a-766b-4401-a1f7-bba0add7a202")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="211a76aa-e480-47f2-a49a-f877ca58fa28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="1d8bba6c-aa24-4186-92c6-2d7e9874d131")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="6a64b8e0-3fa6-4594-b851-90e18a0a7813")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="8ce3a187-59d7-4831-bb92-179704a1b3bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="0e98ba5d-8709-4338-9c39-ceb8f33d8438")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="ed0db9d2-929e-4777-928c-3e605febb315")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="dab84625-cdf5-4541-a40d-4e3b5cdb33ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="8f1a2203-6f89-4618-a2fb-0a96cefa463b")>]

In [35]:
for i in t:
    title=i.text
    Title.append(title)
Title[0:10]

['MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Level 60Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia MX450 2GB Graphics/Carbon Grey/1.3Kg), B11SBU-688IN',
 'Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7 EvoTM 15.6 inch Touchscreen 2-in-1 AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/with S Pen/Graphite/1.41Kg), NP950QED-KA1IN',
 'Mi Notebook Ultra 3.2K Resolution Display Intel Core i7-11370H 11th Gen 15.6-inch(39.62 cm) Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphic/Win 10/MS Office 21/Backlit KB/FP Sensor/1.7Kg)',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'LG Gram 16 inches Intel Evo 11th Gen Core i7 Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 16Z90P-G.AH85A2, Black)',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14" FHD 2-in-1 Convertible Laptop (16 GB/512GB SDD/Windows 11/MS Office 2021/Backlit Keyboard /3months Xbox Game Pass/Graphite Grey/1.5Kg), 82HS018XIN',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 '(Renewed) Dell E6410 Latitude 14 Inch Screen Laptop (Intel Core i7 - M620 /4 GB/120 GB SSD/Windows 7 Pro), Black',
 'Acer Predator Helios 300 11th Gen Intel Core i9-11900H 15.6 inches FHD IPS Gaming Laptop (32GB/1TB SSD/Windows 11 Home/8GB Graphics/NVIDIA GeForce RTX 3070/300 Hz, Black, 2.3Kg) PH315-54',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN']

In [41]:
r = driver.find_elements_by_xpath("//div[@class='a-row a-size-small']")
r[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="b57998b2-9335-4a66-8768-ccac1c74d2b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="1fa3a100-6b6f-4448-9b36-22fffb41cf5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="8f5e668c-233a-4087-81ff-14cfcb112e41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="cb549349-7e72-45bd-83fe-3ecf57dfa642")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="53695de6-57ad-4e13-af1d-b705344d6098")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="b0434553-0e98-410f-9430-15eea145fdea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="ae60bd12-997e-4fec-805b-36d78a193504")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="e36a09fd-fabd-4c3f-a123-1580ee5893d9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="0eed423a-e387-421a-af03-3803619c6e2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="7158f3d8-e288-49af-beef-96802db6026b")>]

In [42]:
for i in r:
    title=i.text
    Ratings.append(title)
Ratings[0:10]

['', '', '', '', '', '', '', '', '', '']

In [43]:
p = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
p[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="e452a166-2436-4c25-a229-b5dc28559ea2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="812ce308-2f46-40ab-86c5-0ab23a2aff67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="729b0c07-8f7a-4d6d-acda-745bea7c1288")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="72e8afac-3e48-41d6-8e3c-95f21cc19f41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="01ba48f2-b85a-4901-9be2-effdbf962eba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="368487d7-3ff4-49d7-9992-d3a0bdb3914a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="288742cb-1808-4eae-80c5-338d562621c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="a9a03c00-1274-4e0c-abd9-362b215d6c33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="52e40381-efe3-4ee6-8912-709ad2bb1d55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b46d58a1fd1af5aa710ea2ff661784", element="44137497-39a5-42df-9bfd-5f57dcc9d2a5")>]

In [44]:
for i in p:
    title=i.text
    Price.append(title)
Price[0:10]

['76,490',
 '1,29,990',
 '77,490',
 '86,900',
 '1,01,112',
 '81,990',
 '57,490',
 '19,990',
 '1,69,990',
 '79,990']

In [46]:
import pandas as pd
table=pd.DataFrame({})

table['Title']=Title[:10]
table['Ratings']=Ratings[:10]
table['Price']=Price[0:10]

table

                                               Title Ratings     Price
0  MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Le...            76,490
1  Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...          1,29,990
2  Mi Notebook Ultra 3.2K Resolution Display Inte...            77,490
3  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....            86,900
4  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...          1,01,112
5  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...            81,990
6  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...            57,490
7  (Renewed) Dell E6410 Latitude 14 Inch Screen L...            19,990
8  Acer Predator Helios 300 11th Gen Intel Core i...          1,69,990
9  Samsung Galaxy Book2 Intel 12th Gen core i7 39...            79,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [47]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [48]:
driver=webdriver.Chrome(r"C:\web driver\chromedriver.exe")
time.sleep(2)

In [49]:
driver.get('https://www.ambitionbox.com/')

In [51]:
title_jobs=driver.find_element_by_xpath("//a[@class='link jobs']")
title_jobs.click()

In [54]:
search_job=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_job.send_keys("Data Scientist")

In [55]:
search_button=driver.find_element_by_xpath("//span[@class='ctas-btn-medium']")
search_button.click()

In [60]:
search_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]")
search_loc.click()

In [62]:
enter_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
enter_loc.send_keys("Noida")

In [68]:
select_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
select_loc.click()

In [70]:
company_names=[]
job_postedon=[]
ratings=[]

In [71]:
companies_tags=driver.find_elements_by_xpath("//p[@class='company body-medium']")
companies_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="5936afbf-21dc-48de-ba70-ff47379521fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="b321c395-2470-4934-9fce-5fa043b5588d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="d1baafbf-2f35-4ce3-9801-081af80ed69f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="7984f263-b859-481c-8296-0ddca44bd8a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="7a4c16df-40d7-45ce-82ca-748966291152")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="597d7da7-f29f-4b6a-8c6f-c04c76c80cef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="c211a769-c8f8-4e4b-b406-f1bdcfb79409")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="78c908f7-156a-4240-a600-53c350d865c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="6a13481b-ab3f-4672-abee-30f53e014e57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="860cecce-e764-4afc-b094-875189d5866e")>]

In [72]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[:10]

['Ericsson India Global Services Pvt. Ltd.',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'GENPACT India Private Limited',
 'TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED',
 'GENPACT India Private Limited',
 'Bristlecone India Limited',
 'Zyoin',
 'Newgen Software Technologies Ltd.',
 'Ashkom Media India Private Limited',
 'Pitney Bowes India Pvt Ltd']

In [85]:
postedon_tags=driver.find_elements_by_xpath("//span[@class='body-small-l']")
postedon_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="4025269c-b8f7-4b8e-9c7e-2073abfb0ec6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="47ca0f5d-43c7-437c-8228-dda0a3b4c2ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="6f6bfd48-18c3-4b44-b012-f55c8c4a6d6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="a8cd679c-09cc-4cab-bb04-34608744ca1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="5f41b7dc-1f79-40dc-b6b8-686d5421c0b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="8e0ec83d-d9c1-421b-92c0-9897d36cd37b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="e61028a4-d392-453a-af8f-696b1a88a323")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="cf09dbce-611e-492d-b326-88eb9295fb14")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="949e46d8-0492-49a8-98e4-a3553b461819")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="367021e7-2978-45fc-9cb6-a5da3280efe6")>]

In [90]:
for i in postedon_tags:
    jobs_postedon=i.text
    job_postedon.append(jobs_postedon)
job_postedon[:10]

WebDriverException: Message: chrome not reachable
  (Session info: chrome=101.0.4951.67)
Stacktrace:
Backtrace:
	Ordinal0 [0x006AB8F3+2406643]
	Ordinal0 [0x0063AF31+1945393]
	Ordinal0 [0x0052C610+837136]
	Ordinal0 [0x00520442+787522]
	Ordinal0 [0x00520C78+789624]
	Ordinal0 [0x005224B2+795826]
	Ordinal0 [0x0051BF09+769801]
	Ordinal0 [0x0052DAC0+842432]
	Ordinal0 [0x00583E62+1195618]
	Ordinal0 [0x00574096+1130646]
	Ordinal0 [0x0054E636+976438]
	Ordinal0 [0x0054F546+980294]
	GetHandleVerifier [0x00919612+2498066]
	GetHandleVerifier [0x0090C920+2445600]
	GetHandleVerifier [0x00744F2A+579370]
	GetHandleVerifier [0x00743D36+574774]
	Ordinal0 [0x00641C0B+1973259]
	Ordinal0 [0x00646688+1992328]
	Ordinal0 [0x00646775+1992565]
	Ordinal0 [0x0064F8D1+2029777]
	BaseThreadInitThunk [0x75A4FA29+25]
	RtlGetAppContainerNamedObjectPath [0x77347A7E+286]
	RtlGetAppContainerNamedObjectPath [0x77347A4E+238]

In [77]:
rating_tags=driver.find_elements_by_xpath("//span[@class='body-small']")
rating_tags[:10]

[<selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="057ff59d-e664-4714-83d1-80ac5bdaebeb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="8635f3a0-b481-4bbb-8eb4-14a5c1a911b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="ca2f8284-1ce9-42aa-9d66-a19d2e673451")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="af849160-5880-44a5-a32f-7500ea41c9b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="e779561e-e43c-479b-b239-b00c09416184")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="e289a92c-0e9d-4366-a917-8a19584ef211")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="ec10b94e-da47-41a6-89aa-fd558611e0e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="f59887c0-ba7f-4ee7-8f41-5412279d465b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="f0d753be-8d41-4c71-aabb-72040c410564")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4675eb6754901c74b49ba1adee1866c9", element="59d96d7f-faa0-4e30-88c2-9c7f0ea86f57")>]

In [78]:
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
ratings[:10]

['4.3', '3.9', '4.0', '3.9', '4.0', '3.8', '4.1', '3.6', '3.7', '4.2']

In [89]:
jobs=pd.DataFrame({})
jobs['Company Name']=company_names[:10]
jobs['Job Posted On']=job_postedon[:10]
jobs['Ratings']=ratings[:10]
jobs

                                       Company Name   Job Posted On Ratings
0          Ericsson India Global Services Pvt. Ltd.          3d ago     4.3
1                  EXL Services.com ( I ) Pvt. Ltd.  via naukri.com     3.9
2                     GENPACT India Private Limited         13d ago     4.0
3  TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED  via naukri.com     3.9
4                     GENPACT India Private Limited         25d ago     4.0
5                         Bristlecone India Limited  via naukri.com     3.8
6                                             Zyoin         11d ago     4.1
7                 Newgen Software Technologies Ltd.  via naukri.com     3.6
8                Ashkom Media India Private Limited        1mon ago     3.7
9                        Pitney Bowes India Pvt Ltd  via naukri.com     4.2

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”
ou have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe

In [119]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import time

In [120]:
driver=webdriver.Chrome(r"C:\web driver\chromedriver.exe")
time.sleep(2)

In [121]:
driver.get('https://www.ambitionbox.com/')

In [122]:
title_jobs=driver.find_element_by_xpath("//a[@class='link salaries']")
title_jobs.click()

In [123]:
search_job=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_job.send_keys("Data Scientist")

In [127]:
search_button=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")

In [128]:
title_tag=driver.find_elements_by_xpath('//div[@class="name"]')

In [129]:
title_name=[]
title1_name=[]
for i in title_tag:

    title_name.append(i.text.split()[0:1])
    title1_name.append(i.text.split()[2:5])

In [130]:
Asalary_tag=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
Avg_salary=[]
for i in Asalary_tag:
    Avg_salary.append(i.text)

In [131]:
Minsalary_tag=driver.find_elements_by_xpath('//div[@class="salary-values"]')
MinAvg_salary=[]
maxsalary=[]
for i in Minsalary_tag:
    MinAvg_salary.append(i.text.replace(r" ?\([^)]+\)","").split()[1:2])
    maxsalary.append(i.text.replace(r" ?\([^)]+\))","").split()[3:4])

In [132]:
Exp=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')

In [133]:
Experience=[]
for i in Exp:
    Experience.append(i.text.split()[3:5])

In [134]:
df=pd.DataFrame({'Comapny Name ':title_name[0:10] , 'Total salary record,' :title1_name[0:10], 'Avarage Salary' :Avg_salary[0:10],'Maximum Salary' :maxsalary[0:10],'Minimum Salary ':MinAvg_salary,'Experience':Experience})
df

,Comapny Name,"Total salary record,",Avarage Salary,Maximum Salary,Minimum Salary,Experience
0,[Walmart],"[on, 11, salaries]",₹ 29.7L,[35.0L],[25.0L],"[3, yrs]"
1,[Ab],"[based, on, 32]",₹ 20.5L,[25.5L],[15.0L],"[3-4, yrs]"
2,[Reliance],"[based, on, 10]",₹ 18.9L,[26.2L],[5.6L],"[4, yrs]"
3,[ZS],"[on, 15, salaries]",₹ 16.7L,[22.0L],[11.0L],"[2, yrs]"
4,[Optum],"[on, 30, salaries]",₹ 15.9L,[22.6L],[11.0L],"[3-4, yrs]"
5,[Fractal],"[based, on, 82]",₹ 15.4L,[23.0L],[9.7L],"[2-4, yrs]"
6,[Tiger],"[based, on, 47]",₹ 14.8L,[20.0L],[9.0L],"[2-4, yrs]"
7,[UnitedHealth],"[on, 55, salaries]",₹ 13.9L,[20.5L],[8.3L],"[2-4, yrs]"
8,[Verizon],"[on, 14, salaries]",₹ 12.7L,[21.0L],[10.0L],"[4, yrs]"
9,[Ganit],"[Solutions, based, on]",₹ 12.4L,[15.0L],[8.5L],"[4, yrs]"

In [135]:
driver.close()